/* general settings */

* {
	--b-col-rear: rgb(250, 250, 250);
	--b-col-front: white;
	--col-main: #3a795e;
	--col-acc: #ecc795;
	--corner: 6px;
	--gap-str: 24px;
	--gap-md: 12px;
	--gap-lt: 6px;
	--blur: 3px;
	--darken-background: 100%;
	--shadow-0-10-16: 0 10px 16px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	font-family: "Atkinson Hyperlegible", sans-serif !important;
	user-select: none;
	-webkit-user-select: none;
}

html {
	height: 100%;
	min-height: 100% !important;
}

body {
	height: 100%;
	min-height: 100% !important;
	background: url("/CAD-EDU/assets/images/dot_repeating.svg");
	background-position: center;
	background-attachment: fixed;
	background-size: 0.75cm;
}

hr {
	background-color: var(--col-acc);
	border-radius: 2px;
	border: none;
	height: 4px;
	width: 66%;
	margin: auto;
}

p {
	user-select: text;
	-webkit-user-select: text;
}

h1 {
	text-align: center;
	font-size: 48px;
	width: fit-content;
	width: -moz-fit-content;
}

/* general classes */

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z3 {
	z-index: 3;
}

.grid-C1 {
	display: grid;
	grid-template-columns: 1fr !important;
}

.grid-C2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-gap-v-lt {
	display: grid;
	column-gap: var(--gap-lt);
}

.grid-gap-h-lt {
	display: grid;
	row-gap: var(--gap-lt);
}

.grid-gap-v-md {
	display: grid;
	column-gap: var(--gap-md);
}

.grid-gap-h-md {
	display: grid;
	row-gap: var(--gap-md);
}

.grid-gap-v-str {
	display: grid;
	column-gap: var(--gap-str);
}

.grid-gap-h-str {
	display: grid;
	row-gap: var(--gap-str);
}

.rounded {
	border-radius: var(--corner);
}

.shadow {
	box-shadow: var(--shadow-0-10-16);
}

.blur-background {
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
}

.mainOutline {
	outline: solid 2px var(--col-main);
}

.accOutline {
	outline: solid 2px var(--col-acc);
}

#nav {
	display: flex;
	background-color: var(--col-main);
	width: max-content;
	height: 50px;
	grid-area: nav;
	margin: var(--gap-str) auto;
	position: sticky;
	position: -webkit-sticky;
	top: 12px;
	z-index: 100;
}

.nav {
	grid-area: nav;
	display: flex;
}

.nav > h1 {
	margin: auto 8px auto auto;
	font-weight: bold;
	font-size: 40px;
}

.nav #nav {
	margin: auto auto auto 8px;
}

#linkHome {
	transition: 0.1s ease-in-out;
}

#linkHome img {
	margin: 5px;
	height: 40px;
	aspect-ratio: 3/2;
	transition: 0.1s ease-in-out;
}

#linkHome:hover {
	transform: translateY(-8px);
}

.navpageTitle {
	height: 50px;
	overflow: hidden;
	transition: 0.1s ease-in-out;
	width: fit-content;
}

.navpageTitle:hover {
	height: 340px;
}

.navpageTitle:hover > h1 {
	color: var(--col-acc);
}

.navpageTitle > h1 {
	margin: 0 auto;
}

.navpageTitle:hover .dropdown {
	opacity: 1;
}

.PageTitle {
	color: var(--b-col-front);
	font-size: 32px;
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
}

.linkTitle {
	color: var(--b-col-front);
	font-size: 32px;
	margin: 0 16px;
}

.dropdown {
	opacity: 0;
	height: fit-content;
	margin-top: 6px;
	background-color: var(--col-main);
	transition: 0.1s ease-in-out;
}

.dropdown * {
	transition: 0.1s ease-in-out;
	line-height: 50px;
}

.dropdown ul {
	display: flex;
	flex-direction: column;
	/* width: max-content; */
	box-sizing: border-box;
}

.dropdown ul li {
	float: right;
	line-height: 20px;
	font-size: 16px;
	text-align: left;
	height: 20px;
	margin: 4px 4px 4px 16px;
	list-style-type: "▸";
	color: var(--b-col-front);
	text-decoration: none;
	transform: translateX(8px);
}

.dropdown ul li:last-of-type {
	margin-bottom: 16px;
}

.dropdown a {
	line-height: 20px;
	color: var(--b-col-front);
	text-decoration: none;
	width: 100%;
}

.dropdown a:hover,
.dropdown h1:hover {
	color: var(--col-acc);
	text-decoration: var(--col-acc) wavy underline;
}

.foot {
	grid-area: foot;
	margin-top: auto;
	outline: solid 2px var(--col-acc);
	height: 30px;
	background-color: var(--b-col-front);
	border-radius: var(--corner) var(--corner) 0 0;
}

.foot p {
	line-height: 30px;
	margin: 0 10px;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.content {
	grid-area: main;
	/* margin-bottom: 50px; */
	display: grid;
	height: max-content;
}

.content article {
	/* margin: 0 0 20px 0; */
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, calc(50% - var(--gap-md)));
}

.content article p {
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 24pt;
	text-align: center;
	margin: auto 0;
	height: min-content;
}

.content article model-viewer {
	aspect-ratio: 1 / 1;
	width: 100%;
	height: auto;
	float: right;
	box-shadow: rgba(0, 0, 0, 0.05) 0 4px 8px;
	border-radius: var(--corner);
}

.button {
	box-sizing: border-box;
	grid-column: 1/3;
	width: 200px;
	height: 50px;
	background-color: var(--col-main);
	margin: 0 auto;
	color: white;
	border: none;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	text-decoration: none;
	transition: 0.1s ease-in-out;
}

.button:hover {
	transform: translateY(-8px);
	transform-origin: 50% 50%;
	outline: solid 2px var(--col-acc);
	line-height: 46px;
}

/* home page */

#homeBody {
	display: grid;
	grid-template-columns: 1fr minmax(480px, 4fr) 1fr;
	grid-template-areas:
		". logo ."
		". main ."
		". foot .";
}

#homeBody article > h1 {
	margin: 0 auto;
}

#homeLogo {
	width: 40%;
	min-width: 200px;
	margin: 0 auto;
	filter: drop-shadow(var(--shadow-0-10-16));
}

#homeHeader {
	grid-area: logo;
	width: 100%;
	padding: 50px 0;
	display: flex;
	justify-content: center;
}

/* articles page */

#navBody {
	display: grid;
	grid-template-columns: 1fr minmax(480px, 4fr) 1fr;
	grid-template-rows: 98px 1fr 50px;
	grid-template-areas:
		". nav ."
		". main ."
		". foot .";
}

.articleTitle {
	grid-area: title;
	margin: auto 6px auto auto;
}

.articleLayout {
	display: grid;
	grid-area: main;
	height: max-content;
}

.articleLayout a {
	aspect-ratio: 2/1;
	display: grid;
	grid-template-areas: "text image";
	transition: 0.1s ease-in-out;
	overflow: hidden;
}

.articleLayout a:hover {
	transform: translateY(-8px);
}

.articleLayout a h2 {
	color: var(--col-main);
	font-size: 24px;
	margin: 8px 4px 2px 8px;
	grid-area: text;
}

.articleLayout a p {
	margin: 2px 4px 8px 8px;
	grid-area: text;
	color: rgb(0, 0, 0);
	font-size: 16px;
}

.articleLayout a video,
.articleLayout a img {
	width: 100%;
	margin: 0 0 0 auto;
	aspect-ratio: 1/1;
	object-fit: cover;
	grid-area: image;
}

/* article detail page */

#blogBody {
	display: grid;
	grid-template-columns: 1fr minmax(10px, 4fr) 1fr;
	grid-template-rows: 98px 1fr 50px;
	grid-template-areas:
		". nav ."
		". main ."
		". foot .";
}

.articleBody {
	padding: 8px;
	box-sizing: border-box;
}

.articleBody > p {
	font-size: 24px;
}

.articleBody blockquote {
	padding: 16px;
	box-sizing: border-box;
	font-size: 20px;
	text-decoration: underline var(--col-acc);
	display: inline-block;
}

.articleBody blockquote a {
	color: var(--col-main);
	text-decoration: none;
}

.articleBody > p::first-letter {
	font-size: 48px;
	color: var(--col-acc);
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	line-height: 48px;
}

.articleBody model-viewer {
	width: 40%;
	height: auto;
	aspect-ratio: 1/1;
	display: inline-block;
}

.articleBody model-viewer.fLeft {
	margin: auto 16px 0 0;
}

.articleBody model-viewer.fRight {
	margin: auto 0 0 16px;
}

/* contact page */

.contact {
	grid-template-areas:
		"map"
		"form"
		"alternative";
}

.contact form {
	display: grid;
	grid-template-areas:
		"email name"
		"message message"
		"submit submit";
}

.contact button {
	grid-area: submit;
}

#map {
	grid-area: map;
	/* margin: 10px; */
	aspect-ratio: 3/2;
}

#emailInput,
#nameInput,
#messageInput {
	background-color: var(--b-col-front);
	box-sizing: border-box;
	border: none;
	border-radius: var(--corner);
	min-height: 32px;
	padding-left: 8px;
	font-size: 16px;
}

#emailInput:valid,
#nameInput:valid,
#messageInput:valid {
	outline: solid var(--col-main) 2px;
}

#emailInput:not(:placeholder-shown):invalid,
#nameInput:not(:placeholder-shown):invalid,
#messageInput:not(:placeholder-shown):invalid {
	outline: solid red 2px;
}

#emailInput {
	grid-area: email;
}

#nameInput {
	grid-area: name;
}

#messageInput {
	grid-area: message;
	height: 300px;
	line-height: 12pt;
	padding: 8px;
	resize: vertical;
}

#emailAlt {
	grid-area: alternative;
	text-align: center;
}

#emailAlt p {
	background-color: var(--b-col-front);
	width: max-content;
	margin: auto;
}

#emailAlt p a {
	color: var(--col-main);
	text-decoration: var(--col-main) wavy underline;
}

#emailAlt hr {
	margin-bottom: 12px;
}

@media only screen and (min-width: 1500px) {
	#homeBody,
	#navBody,
	#blogBody {
		grid-template-columns: 1fr 1000px 1fr;
	}
}

@media only screen and (max-width: 1100px) {
	.articleBody model-viewer {
		width: 66%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		aspect-ratio: 3/2;
		display: inline-block;
	}
}

@media only screen and (max-width: 900px) {
	#homeBody .content article {
		grid-template-columns: 1fr;
	}

	#homeBody .content article a {
		grid-column: 1/2;
	}

	.content article p {
		font-size: 16pt;
	}

	.articleLayout {
		grid-template-columns: 1fr;
	}

	.contact {
		grid-template-columns: 1fr;
		grid-template-areas:
			"map"
			"form"
			"alternative";
	}

	.contact form {
		display: grid;
		grid-template-areas:
			"email"
			"name"
			"message"
			"submit";
	}

	#map {
		margin: 0;
	}

	#homeBody .content article model-viewer {
		float: none;
		aspect-ratio: 3/2;
	}

	.articleBody model-viewer {
		width: 100%;
		height: auto;
		aspect-ratio: 3/2;
		display: inline-block;
	}

	#blogBody {
		grid-template-columns: 1fr;
		grid-template-areas:
			"nav"
			"main"
			"foot";
		padding: 0 10px;
	}
}

@media only screen and (max-width: 500px) {
	#homeBody {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"logo"
			"main"
			"foot";
		padding: 0 10px;
	}

	#navBody {
		grid-template-columns: 1fr;
		grid-template-areas:
			"nav"
			"main"
			"foot";
		padding: 0 10px;
	}

	#blogBody {
		grid-template-rows: auto 1fr 50px;
	}

	#navbody aside {
		display: none;
	}

	.nav {
		flex-direction: column-reverse;
	}

	.nav > h1 {
		margin: var(--gap-md) auto;
	}

	.nav #nav {
		margin: var(--gap-md) auto;
	}
}
